APP_ID = 34858817
API_HASH = "d59539c0cd03b6a55dbe642d578fb92b"
# the name to display in your alive message
ALIVE_NAME = "Ninni"
# create any PostgreSQL database (i recommend to use elephantsql) and paste that link here
DATABASE_URL = "postgresql://postgres:patlu@localhost:5432/catuserbot"
# After cloning the repo and installing requirements do python3 stringsetup.py an fill that value with this
STRING_SESSION = "1AZWarzMBu307tFvHVPpCKHbTs9QbdVDb-IFSwe1Cwcrk_ju1GvU89wPjNt0s3C-d-P9599gUukTmPfC7V7YN-hN3O3O3Dj_ZPxJLG3uhbf6WGaNwBmJNUEokLPQfCSN5QJbuC0pCcKpFkkRwAApK5A6JUwkdYF91qX8mrpfBDrHkJ-o6K1mSZc63-Yn5gr0F6z0bpYXHanr6q0A10VVE9sMGlUUThfcSROlj1kwzSTbfqQ9CcVUrWDhrECkjXaqK_HnvrAcQ99jkzjvTCX5tbOV_kzW4OmDpMtdQc-PEHvdlxxnd0xhWOS0cEkVS9nMljDiF7iWreTd2XKORaMtG4hbUBarQQKA="
# create a new bot in @botfather and fill the following vales with bottoken
TG_BOT_TOKEN = "8994809058:AAHb-vwcCcck09FeLcrnC8AjCjEqqd0cK-Q"
# command handler
COMMAND_HAND_LER = ">"
# command hanler for sudo
SUDO_COMMAND_HAND_LER = ">"
# External plugins repo
EXTERNAL_REPO = "https://github.com/TgCatUB/CatPlugins"
ALIVE_PIC = "https://files.catbox.moe/0xjqio.jpg"
# if you need badcat plugins set "True"
BADCAT = "True"
# set path of the brwoser (Chrome/Chromium) binary , default set to chromium path change it if you are using chrome
# https://docs.catuserbot.co/catuserbot/installation/guide/chromium-and-chrome-driver-setup
CHROME_BIN = "/usr/bin/chromium"
PORT = "1234"
